#image-container{
  display: flex;
  flex-wrap: wrap;
}

#image-container div{
justify-content: space-around;
width: 200px;
height: 200px;
margin-left: 20px;
margin-top: 40px;
margin-bottom: 30px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#image-container div:hover{
cursor: pointer;
}

#image-container div p{
margin: 0px 0px 0px 0px; line-height: 120%;
overflow: hidden;  		
text-overflow: ellipsis;  	
white-space: nowrap; 		
word-break:break-all;
}

.catagoryButton{
margin-top: 20px;
border: none;
margin-right: 20px;
width : 100px;
height : 34px;
border-radius: 40px;
background-color: rgba(173, 173, 173, 0.327);
color: black;
font-weight: bold;
font-size: 14px;
}

.catagoryButton:hover{
color: white;
background-color: rgba(0, 0, 0, 0.8);
font-size: 16px;
cursor: pointer;
}

.catagoryButton.selected {
color: white;
background-color: rgba(0, 0, 0, 0.8);
font-size: 16px;
}

.selectCatagory{
display: flex;
justify-content: center;
}

.newCatagory{
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
border: none;
width : 100%;
border-radius: 40px;
background-color: rgba(31, 84, 255, 0.8);
color: white;
font-weight: bold;
font-size: 21px;
padding-top: 10px;
padding-bottom: 10px;
}

.plus{
margin-left: 5px;
}

.newCatagory:hover{
background-color: rgba(62, 106, 252, 0.8);
cursor: pointer;
}

.noImagesMessage {
text-align: center;
font-size: 28px;
color: #555;
margin-top: 20px;
}

.modal-background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* 불투명한 배경 색상 */
display: flex;
justify-content: center;
align-items: center;
z-index: 999; /* 모달보다 위에 위치하도록 설정 */
}

.delete{
float: right;
margin-top: 10px;
font-weight: 400px;
font-size: 20px;
border: none;
background-color:transparent;
border-radius: 40px;
padding: 10px;
}

.delete:hover{
background-color: rgba(173, 173, 173, 0.356);
font-weight: bold;
cursor: pointer;
}

.modalImgArea{
width: 500px;
max-height: 500px;
overflow-y: auto;
}

.createCatagoryInput{
border: 1px solid black;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10px;
}

.createCatagoryInput input{
border: none;
height: 30px;
font-size: 15px;
}

.createCatagoryInput button{
border: none;
border-left: 1px solid black;
width: 80px;
height: 30px;
font-weight: bold;
font-size: 15px;
}

.createCatagoryInput button:hover{
font-weight: bold;
cursor: pointer;
}