.login {
  border: none;
  margin-right: 20px;
  width: 120px;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(97, 96, 96, 0.582);
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.login:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
