
.apiArea{
  width: 100%;
  background-color: #bbb;
  height: 440px;
  overflow:hidden ;
  position: relative;
  margin:0 auto;
}
.apiArea h1{
  position: absolute;
  top: 10%;
  left: 40%;
}

.img{
  width: 248px;
  height: 248px;
  float: left;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* border: 1px solid black; */
}

.img:hover{
  cursor: pointer;
}

.img img{
  width: 100%;
  height: 100%;
}

.setBackground{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noneApi{
  /*여기서 이미지영역 넓이 지정*/
  width: 90%;
  height: auto;
  margin-top: 50px;
}


#topMenuBar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

#topMenuBar > *{
 margin-top: 15px;
 margin-bottom: 15px;
 margin-right: 15px;
}


.logo{
  left: 10px;
  line-height: 40px;
  margin-left: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.scrolled-logo{
  left: 10px;
  line-height: 40px;
  margin-left: 20px;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.info{
  color: white;
  margin-bottom: 30px;
}

.title{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

.body{
  font-size: 18px;
}

.search{
  height: auto;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search input{
  width: 100%;
  height: auto;
  border: 1px solid #bbb;
  border-radius: 40px;
  padding: 20px 20px;
  font-size: 16px;
}

.top-search{
  width: 40%;
}

.top-search input{
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 24px;
  padding: 10px 12px;
  font-size: 16px;
  background-color: #ffffff;
}

.scroll-color {
  background-color:white;
  transition: 0.3s;
}

.scrolled-color { 
  background-color:transparent;
  transition: 0.3s;
}

.selectImg{
  width: 90%;
  height: 160px;
  border: 1px solid black;
}
.profileDetail{
  width: 100px;
  height: 100px;
}

.icons{
  display: flex;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 반투명한 어두운 배경 */
  z-index: 9998; /* 팝업 미만의 z-index 값 설정 */
}

.popup {
  border-radius: 10px;
  width: auto;
  height: auto;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 15px;
  border: 1px solid rgb(189, 187, 187);
}

.popupImg{
width: 600px;
height: auto;
}
.popupImg img{
width: 100%;
height: 100%;
}

.download-button{
margin-top: 10px;
border: none;
width: 100%;
height: 80px;
color: white;
font-size: 24px;
background-color: rgb(11, 207, 11);
border-radius: 16px;
}

.download-button:hover{
  font-size: 26px;
  background-color: rgb(25, 230, 25);
  cursor: pointer;
}

.link{
  line-height: 40px;
  text-decoration-line: none;
  text-align: center;
  margin-right: 20px;
  width : auto;
  padding-right: 10px;
  padding-left: 10px;
  height : 40px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40px;
  color: white;
  font-weight: bold;
  font-size: 14px;
} 

.link:hover{
  background-color: rgba(173, 173, 173, 0.356);
  font-size: 14px;
}

.scrolled-link{
  line-height: 40px;
  text-decoration-line: none;
  text-align: center;
  margin-right: 20px;
  width : auto;
  padding-right: 10px;
  padding-left: 10px;
  height : 40px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40px;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.scrolled-link:hover{
  background-color: rgba(173, 173, 173, 0.356);
  font-size: 14px;
}


.more{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-right: 20px;
  width : auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-radius: 40px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.more:hover{
  background-color: rgba(173, 173, 173, 0.356);
  font-size: 14px;
  cursor: pointer;
}

.scrolled-more{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-right: 20px;
  width : auto;
  padding-left: 10px;
  padding-right: 10px;
  height : 40px;
  border-radius: 40px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.scrolled-more:hover{
  background-color: rgba(173, 173, 173, 0.356);
  font-size: 14px;
  cursor: pointer;
}




.uploadButton{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-right: 35px;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: rgb(4, 168, 92);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
} 

.uploadButton:hover{
  color: white;
  background-color: rgb(10, 192, 107);
  font-size: 15px;
  cursor: pointer;
}

.uploadIcon{
  margin-right: 4px;
}

.UploadPopup {
  border-radius: 10px;
  width: auto;
  height: auto;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid rgb(189, 187, 187);
}

.menuPopup{
  width: 200px;
  height: auto;
  z-index: 9999;
  position: fixed;
  top: 60px;
  right: 160px;
  background-color: rgb(29, 29, 39);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
}


.menuPopup button{
  border: none;
  border-radius:0;
  color: white;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
}

.menuPopup button:hover{
  background-color: rgb(83, 83, 109);
}


.menuPopup .menuBtn{
  color: white;
  line-height: 40px;
  text-decoration-line: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.menuPopup .menuBtn:hover{
  background-color: rgb(83, 83, 109);
}

.menuBack{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998; /* 팝업 미만의 z-index 값 설정 */
}

.updatePage{
  background-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  width: 100px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 300px;
}
 
.updatePage:hover{
  background-color: rgba(173, 173, 173, 0.356);
}

.CataGory{
  margin-bottom: 500px;
}
